.form-page {
  display: flex;
  padding: 24px;
  gap: 24px;
  font-family: sans-serif;
  color: #444;
}

.main-form,
.display-info {
  border-radius: 5%;
  background-color: beige;
  padding: 32px;
}

.main-form {
  margin-bottom: 32px;
}

.form-container {
  width: 40%;
  align-self: flex-start;
}

.form-table:td {
  width: 100%;
}

.graph-area {
  width: 60%;
  border-radius: 5%;
  align-self: flex-start;
  background-color: beige;
  padding: 32px;
}
